@model UserDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model.FirstName</td>
                <td>@Model.LastName</td>
                <td>@Model.PersonalNumber</td>
                <td>@Model.DateOfBirth</td>
                <td>@Model.City</td>
                <td>@Model.Gender</td>
                <td>@Model.ImagePath</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

